php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on

RewriteEngine On 
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ home

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)$ index.html?page=$1 [QSA,L]


ErrorDocument 403 / 403.html