/* -----------------------------
    8. PROMO BOTTOM AREA
----------------------------- */

.promoBottomArea {
  position: relative;
  padding: 100px 0;
  margin-top: 30px;
}

.sectionPadding {
  padding: 100px 0;
}

.promoBottomAreaBg {
  background: rgba(0, 0, 0, 0) url('../../assets/images/slider1.jpg') no-repeat
    scroll bottom center / cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.promoBottomAreaBg::after {
  background: #3c4a62 none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}

.promoTitle {
  color: #fff !important;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
}

.textCenter {
  text-align: center;
}

.readMore {
  position: relative;
  display: inline-block;
  color: white;
  margin-top: 15px;
  text-align: center;
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  height: auto;
  letter-spacing: 1px;
  padding: 14px;
  text-transform: uppercase;
  width: 180px;
  border-radius: 3px;
}

.readMore::after {
  position: absolute;
  content: '➜';
  right: 24px;
  top: 14px;
  font-size: 8px;
  font-weight: 100;
}

.promoBottomArea .readMore:hover,
.promoBottomArea .readMore:focus {
  background: #fff none repeat scroll 0 0;
  color: #bf1e2e;
}
