.collectionWrapper {
    text-decoration: none;
}
  @media (min-width: 1000px) {
    .collectionWrapper {
      display: flex;
    }
    .collectionWrapper .collectionContent,
    .collectionWrapper .collection-photo {
      width: 50%;
      border-style: none;
    }
    .collectionWrapper .collection-photo {
      order: 2;
    }
    .collectionWrapper .collectionContent {
      order: 1;
    }
  }

  @media (min-width: 1000px) {
    .collectionContentWrapper {
      margin-top: 70px;
      margin-left: 150px;
    }
  }
  @media (min-width: 1000px) {
     .collectionWrapper .collection-photo {
      order: 1;
    }
    .collections .coll-2 .collectionWrapper .collectionContent {
      order: 2;
    }
  }
  .collections .collectionContent {
    font-size: 3.5rem;
  }
  .collections .collectionContentWrapper {
    display: flex;
    align-items: center;
    padding: 20px 0 78px 17px;
  }
  @media (min-width: 1000px) {
    .collections .collectionContentWrapper {
      width: 65%;
      margin: 0 auto;
      transition: all 0.3s ease;
      height: 80%;
      padding: 0;
    }
  }
  .collections .collectionContentWrapper .contentHeader {
    transition: all 0.3s ease;
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #313131;
    font-size: 3rem;
    font-weight: 500;
  }
  @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .collections .collectionContentWrapper .contentHeader {
      color: inherit;
    }
  }
  @media (min-width: 1000px) {
    .collections .collectionContentWrapper .contentHeader {
      font-size: 4.75rem;
    }
  }
  .collections .collectionContentWrapper .contentParagraph {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #313131;
  }
  @media (min-width: 1000px) {
    .collections .collectionContentWrapper .contentParagraph {
      font-size: 3.8rem;
      line-height: 5rem;
    }
  }
  .collections .collectionContentWrapper .icon-arrow {
    padding-left: 20px;
    font-size: 1.2rem;
    margin-top: 8px;
  }
  .collections .collectionContentWrapper .contentDescription {
    font-size: 0.8rem;
    line-height: 1.4rem;
    display: none;
    padding-top: 40px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  @media (min-width: 1000px) {
    .collections .collectionContentWrapper .contentDescription {
      display: block;
    }
  }
  .collections .collectionContentText {
    transition: height 0.3s ease;
    width: 100%;
  }
  @media (min-width: 1000px) {
    .collections .collectionContentText {
      height: 245px;
      padding-top: 0;
    }
  }

  .collections .contentParagraph {
    font-size: 0.8rem;
    color: black !important;
  }
  body.no-touch .collections a:hover {
    color: inherit;
  }
  @media (min-width: 1000px) {
    body.no-touch
      .collections
      .collectionContent:hover
      .collectionContentText {
      height: 380px;
    }
    body.no-touch .collections .collectionContent:hover .contentDescription {
      opacity: 1;
    }
    body.no-touch .collections .collectionContent:hover .icon-arrow {
      padding-left: 20px;
      transition: padding 0.5s ease;
      animation: arrow-move 0.5s ease-in-out infinite;
      animation-play-state: start;
    }
  }
  
  @media (min-width: 1000px) {
    .bannerCategories {
      margin-top: 0px;
      padding: 0 20px;
    }
    .bannerCategories .collectionContentText {
      transition: height 0.3s ease;
    }
  }
  .bannerCategories .bannerCollections {
    margin-top: 0px;
  }
  @media (min-width: 1000px) {
    .bannerCategories .bannerCollections {
      margin-top: 0px;
    }
  }
  .bannerCategories .bannerCollections .brands-nav {
    font-size: 2rem;
    transition: opacity 0.3s ease;
    padding-top: 32px;
  }
  @media (min-width: 1000px) {
    .bannerCategories .bannerCollections .brands-nav {
      display: block;
    }
  }
  .bannerCategories .bannerCollections .brands-nav .li-brands-nav {
    padding-right: 15px;
  }
  .bannerCategories .bannerCollections .brands-nav:last-child {
    padding-right: 0;
  }
  .bannerCategories .bannerCollections.white-text {
    color: #fff;
  }
  .bannerCategories .bannerCollections.dark-text {
    color: #313131;
  }
  @media (min-width: 1000px) {
    .bannerCategories .bannerCollections:nth-of-type(even) .photoWrapper {
      order: 2;
    }
    .bannerCategories
      .bannerCollections:nth-of-type(even)
      .photoWrapper
      .photo {
      left: auto;
      right: 0;
    }
  }
  @media (min-width: 1000px) {
    .bannerCategories .bannerCollections:nth-of-type(even) .collectionContent {
      order: 1;
    }
  }
  .bannerCategories .collectionContentText {
    padding: 0 0 30px 0;
    width: 100%;
  }
  @media (min-width: 1000px) {
    .bannerCategories .collectionContentText {
      padding: 0;
      position: absolute;
      width: 80%;
      top: 5%;
      transition: all 0.4s ease;
      padding-top: 20px;
    }
  }
  .bannerCategories .collectionContentWrapper {
    display: flex;
    align-items: center;
  }
  @media (min-width: 1000px) {
    .bannerCategories .collectionContentWrapper {
      position: static;
      height: 100%;
      padding: 0;
      width: 100%;
      padding: 0;
    }
  }
  .bannerCategories .collectionWrapper {
    position: relative;
  }
  @media (min-width: 1000px) {
    .bannerCategories .collectionWrapper {
      display: flex;
      align-items: stretch;
    }
  }
  .bannerCategories .collectionContent {
    width: 100%;
  }
  @media (min-width: 1000px) {
    .bannerCategories .collectionContent {
      width: 58%;
    }
  }
  .bannerCategories .contentHeader {
    /* margin-top: 50px; */
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    letter-spacing: 4px;
  }
  
  @media (max-width: 1200px) {
    .bannerCategories .contentHeader {
      font-size: 20px;
      margin-top: 0;
    }
  }
  
  @media (max-width: 700px) {
    .bannerCategories .contentHeader {
      margin-top: 30px;
    }
  }
  
  @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .bannerCategories .contentHeader {
      color: inherit;
    }
  }
  .bannerCategories .contentParagraph {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    padding-top: 10px;
  }
  @media (min-width: 768px) {
    .bannerCategories .contentParagraph {
      font-size: 15px;
      line-height: 25px;
    }
  }
  .bannerCategories .contentDescription {
    padding-top: 25px;
    display: block;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 300;
  }
  @media (min-width: 1000px) {
    .bannerCategories .contentDescription {
      display: block;
      max-height: 1000px;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
    }
  }

  
  .bannerCategories .photoWrapper {
    padding-bottom: 83%;
    width: 100%;
    position: relative;
    width: calc(100% - 34px);
    margin: 0 auto;
  }
  @media (min-width: 1000px) {
    .bannerCategories .photoWrapper {
      padding-bottom: 40%;
      width: 42%;
      position: static;
    }
  }
  .bannerCategories .photoWrapper .photo {
    height: 100%;
    width: 100%;
    top: 40px;
    position: absolute;
    /* background: url('../../assets/images/slider1.jpg'); */
    background-size: cover;
  }
  @media (min-width: 1000px) {
    .bannerCategories .photoWrapper .photo {
      width: 49%;
      left: 0;
      top: 50%;
      height: 82%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  .bannerCategories .photo {
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .bannerCategories q:before {
    content: '\2018';
  }
  @media (min-width: 1000px) {
    .bannerCategories .collectionContent {
      position: static;
      width: 58%;
    }
  }
  .bannerCategories .collectionContentWrapper {
    padding: 0 17px;
  }
  @media (min-width: 1000px) {
    .bannerCategories .collectionContentWrapper {
      padding: 40px 0 40px 18%;
      width: 80%;
      position: relative;
    }
  }


  
  .colorBanner {
    background-color: #24292e !important;
  }
  


.youtubeSection .collectionContentWrapper {
    padding-left: 5%; 
}

.youtubeSection {
    margin-bottom: 50px;
}

// @media (min-width: 1240px)
// .banner-categories .banner-collections:nth-of-type(even) .collection-content {
//     order: 1;
// }


@media (max-width: 768px) {
  .youtubeSection .collectionContentWrapper {
    margin-top: 30px;
  }
}