/*------------------------------
    2.4 WELCOME SLIDER AREA
--------------------------------*/

.welcome-slider-area {
  height: 50vh;
  position: relative;
  z-index: 9;
}

.welcome-slider-area.owl-carousel div:not(.owl-controls) {
  height: 50vh;
}

.welcome-single-slide {
  z-index: 9;
  position: relative;
}

.welcome-single-slide:before {
  background: #3c4147;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.welcome-slider-area .welcome-text {
  position: relative;
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  width: 50%;
}

.welcome-slider-area .welcome-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  right: 0;
  bottom: 0;
  background: #bf1e2e;
  opacity: 0.6;
  /* animation: skew 3s infinite; */
  transform: skew(-20deg);
  width: 120%;
  /* animation-direction: alternate; */
}

.welcome-text h4 {
  margin-bottom: 30px;
}

.welcome-text h2 {
  color: #fff;
  /* line-height: 1; */
  margin-bottom: 30px;
}

.welcome-text p {
  position:relative;
  width: 70%;
}

.welcome-slider-area.home-button {
  height: auto !important;
  position: relative;
}



.owl-item.active .welcome-single-slide .welcome-text h2 {
  -webkit-animation: 1s ease 0.5s normal both 1 running fadeInUp;
  animation: 1s ease 0.5s normal both 1 running fadeInUp;
}

.owl-item.active .welcome-single-slide .welcome-text p {
  -webkit-animation: 1s ease 0.8s normal both 1 running fadeInUp;
  animation: 1s ease 0.8s normal both 1 running fadeInUp;
}

.owl-item.active .welcome-single-slide .home-button {
  -webkit-animation: 1s ease 1s normal both 1 running fadeInUp;
  animation: 1s ease 1s normal both 1 running fadeInUp;
  position: relative;
  margin-top: 40px;
}


.slider-bg-one {
  background: url('../../assets/images/slider1.jpg') no-repeat scroll center
    center / cover;
}

.slider-bg-two {
  background: url('../../assets/images/slider2.jpg') no-repeat scroll center
    center / cover;
}

.slider-bg-three {
  background: url('../../assets/images/slider3.jpg') no-repeat scroll center
    center / cover;
}

.welcome-slider-area.owl-carousel .owl-nav > div {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  margin: 0 5px;
  padding-top: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
  border: 1px solid rgba(243, 52, 18, 0.3);
}

.welcome-slider-area.owl-carousel .owl-controls {
  bottom: 7%;
  position: absolute;
  right: 8.4%;
}

.welcome-slider-area.owl-carousel .owl-nav > div:hover {
  color: #bf1e2e;
  border: 1px solid rgba(191, 30, 46, 0.9);
}

.info-bar {
  display: flex;
  justify-content: flex-end;
  padding-left: 50px;
  background:  #1d1c1c;
}

.info-bar:nth-last-child() {
  margin-left: 10px;
}

.info-bar span {
  margin: 0 10px;
  color: white;
}

.info-bar i {
  color: white;
}

.info-bar img {
  margin-right: 10px;
}


@media (max-width: 768px) {
  .welcome-text h1 {
    font-size: 24px !important;
  }
}

@media (max-width: 768px) {
  .info-bar {
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
  };

  .welcome-slider-area {
    height: 100vh;
  }

  .welcome-slider-area.owl-carousel div:not(.owl-controls) {
    height: 100vh;
  }


  .welcome-slider-area .welcome-text {
    width: 100%;
    padding-top: 0;
  }

  .welcome-slider-area .welcome-text h1 {
    width: 100%;
    font-size: 18px;
  }

  .welcome-slider-area .welcome-text p {
    width: 100%;
    left: 0;
    font-size: 12px;
  }

  .welcome-slider-area .welcome-text::before {
    display: none;
  }

  .owl-item.active .welcome-single-slide .home-button {
    left: 0;
  }

  .navbar {
    margin-top: 30px;
  }
}
